/* Shared Styles */
#timestamp {
    position: fixed;
    top: 10px;
    right: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Writer Specific */
.note-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.note-container textarea {
    flex-grow: 1;
    margin-right: 10px;
}

/* Reader Specific */
.note-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}